<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="Style.css">
        <!--<meta http-equiv="refresh" content="5;URL=https://bytefreaks.net/howtos/create-an-html-page-with-no-javascript-that-will-redirect-the-user-after-a-few-seconds">-->
    </head>
    <body>
        <header>

        </header>

        <nav>

        </nav>
        
        <main>
            <section>
                <article>
                    <p>
                        
                    </p>
                </article>
            </section>
        </main>
        <footer>
            
        </footer>
    </body>
</html>
<script src="script.js"></script>